/__pycache__
*.xml
services/claro.yaml
services/globo.yaml
services/globoid.yaml
services/globo_inter.yaml
services/target_vivoplay.yaml
services/target_uolplay.yaml
services/target_globo.yaml
services/target_claro.yaml
services/local_xsports.yaml
services/vivoplay.yaml
log_epg.log
services/local_saopaulo.yaml
matches_cache.db
